*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin:20px auto;
    width: 100%;
    text-align: center;
}

.row{
    margin-top: 40px;
}

img{
    width: 90px;
    height: 90px;
    margin-bottom: 40px;
    
}

.img_box{
    float: left;
}

.blackbox{
    color: white;
    text-align: left;
    padding-top: 8px;
    padding-left: 100px;
    
    
}

.colonna{
    width: calc(100% / 3 - 20px);
    float: left;
    margin-right: 20px;
    background-color: black;
    margin-bottom: 40px;
    height: 90px;
}


.container::after{
    content: "";
    display: table;
    clear: both;
}

.link{
    line-height: 35px;
    text-decoration: none;
    color: rgb(74, 189, 238);
}

h1{
    color: #d22c7a;
    font-weight: 800;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    padding-top: 5px;
}